/**
Week 1 Homework
**/


*   {
    box-sizing: border-box;
    text-align:center
}

body    {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background:#777;
    width: 495px;
    font-size: 18px;
}

header {
    padding: 60px;
    text-align: center;
    color: blue;
    font-size: 30px;
    background: #ebebeb;
    width: 495px;
  }

  li a {
    display: block;
}

aside   {
    display: block;
}
